{% extends 'layout.html'%}
{% block content %}
 
<style>
  table
  {
      table-layout: fixed;
  
  }
  * {
    font-family: sans-serif; /* Change your font family */
  }
  
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.8em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
    
  table td a.edit{
    color:#f0ad4e;
    font-size: 16px;
   }
  
  table td a.delete{
    color:#d9534f;
    font-size: 16px;
  }
  </style>
    
    </head>
    <body>
        <div class="container" id="main">
            <div class="row">
               
                    
                        <h2>Audit Program / <b> Audit List 
                          <a href="{{ url_for('create_audit') }}"><button style ="position: relative;left:590px;color: white;" class="btn btn-warning"
                            data-toggle="modal" data-target="#mymodal">Create New Audit</button></a></b>     
                        </h2>
                       <br></br>
                       <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for audit program name.." title="Type in a name">
                            
                              <table id="myTable" class="content-table" >
                                <thead>
                                <tr>
                             
                                  <th>Name of Audit Program</th>
                                  <th>Program Start Date</th>
                                  <th>Audit Objective</th>
                                  <th>Audit Methodology</th>
                                  <th>Audit Scope</th>
                                  <th>Document Type</th>
                                  <th>Evidence </th>
                                  <th>Created At</th>
                                  <th>Lead Auditor</th>
                                  <th></th>

                                 </tr>
                                 </thead>
                                 {% for row in audit %}
                                 <tbody>
                                <tr>
                                    
                                      <td>{{row.auditReportTitle}}</td>
                                      <td>{{row.startDate}}</td>
                                      <td>{{row.objective}}</td>
                                      <td>{{row.methodology}}</td>
                                      <td>{{row.scope}}</td>
                                      <td>{{row.documentType}}</td>
                                      <td>{{row.evidence}}</td>
                                      <td>{{row.createdAt}}</td>
                                      <td>{{row.auditor}}</td>
                                      <td><a href="{{ url_for('update_audit', auditreport_id=row.id) }}" class="edit" title="Edit"><i class="fas fa-edit"></i></a></button>
                                        <a href="{{ url_for('delete_audit', auditreport_id=row.id) }}" class="delete" title="Delete" method="POST" onclick="return confirm('Are you sure for delete?')"><i class="far fa-trash-alt"></i></a></button>
                                      </td>     
                                  </tr>

             {%endfor%}
             </div>
             </div>
            </tbody>
            </table>
            <br>
            
          </body>
  
          <script>
            function myFunction() {
              var input, filter, table, tr, td, i, txtValue;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              table = document.getElementById("myTable");
              tr = table.getElementsByTagName("tr");
              for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  txtValue = td.textContent || td.innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }
            </script>
 {% endblock content %}
                   