{% extends 'base.html' %}
 
{% block body %}

<style>

#btn_cancel, #btn_save{
  position: relative;
  text-align: center;
  border-radius: 50px;
  left: 450px;
  width: 13%;
  margin-right: auto;
}

    /* unvisited link */
    a:link {
      color: black;
    }
    
    /* mouse over link */
    a:hover {
      color: blue;
    }
    
    /* selected link */
    a:active {
      color: gray;
    }

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ECECEC;;
border-radius: 30px;
color: black;
}
    
li {
float: left;
}
    
li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
    
li a:hover {
background-color: #DADADA;
border-radius: 30px;
}
*
{
  box-sizing: border-box;
}

input[type=text], select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#nav{
background-color: white;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 50px;
  padding-top: 10px;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
    </style>

    </head>
    <body>
      <div class="container">
        <div class="row">
            <div class="col md-12">

      <h3>New Entity / Attachment
        <button  id="btn_cancel" class="btn btn-danger ">Cancel</button>
        <button  id="btn_save" class="btn btn-warning ">Save and Close</button><br><br>
      </h3>
      
      <ul>
        <li><a href="#">All Entities /<br> General Information</a></li>
        <li><a href="#">Communication &<br> Collaboration</a></li>
        <li><a href="#">Attachment</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Other
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Customer</a>
            <a class="dropdown-item" href="#">Product</a>
          </div>
        </li>
      </ul>
    <br><br>
    </div>

    <div class="container" id="form">
      <form action="/action_page.php">
      <div class="row">
        <div class="col-25">
          <label for="scope">Enable Attachments * :</label><br>
      </div>
      <div class="col-75">
        <select id="attachment" name="Attachment">
          <option value="control">Choose one</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="report">Max Allowed File Size, MB:</label>
        </div>
        <div class="col-75">
          <input type="text" id="size" name="size">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="report">Allowed MIME Types:</label>
        </div>
        <div class="col-75">
          <input type="text" id="size" name="size">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="report">Link Attachment To Context Entity:</label>
        </div>
        <div class="col-75">
          <select id="link" name="Link">
            <option value="control">Choose one</option>
            <option value="auto">Auto</option>
            <option value=""></option>
          </select>
        </div>
      </div>


    

    </form>
    </div>   
    </body>
            
{% endblock %}


            